// *************************************
//
// Header
// -> Main site header
//
// *************************************
.flags{
  float:right;
  img{
    width: 25px;
  }
}
.dropdown-menu{
  ul{
    float:right;
  }
}
.header {
  background:rgba(30, 30, 30, 0.7);
  position: relative;
  z-index: 99999;
}
.head-row-1{
  height:85px;
}
.header-border-bottom{
  height:15px;
  @include background-image(linear-gradient(to top, #695545, $c-secondary, #695545 ));
}





// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //
.head-top{
  float:right;
  padding-right:40px;
  a{

    color:white;
    font-size: 1.15rem;
    text-decoration: none;
    &:hover{
      color:$c-2;
    }
  }
}
.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.Slider {
	visibility: hidden;
}
.show-for-small{
  display: none;
}
.show-for-large{
  display: block;
}
.logo{
  margin-top:40px;
  padding-bottom:10px;
}
@media all and(max-width:1040px){

}
@media all and(max-width:900px){
  .head-row-1{
    display: none;
  }
  .show-for-large{
    display: none;
  }
  .show-for-small{
    display: block;
  }
  .hide-on-mobile {
		display: none;
  }
}

@media all and(max-width: 700px) {
	.slider-overlay-box {
		margin-top: 0px;
	}
}
